* {
  padding: 0;
  margin: 0;
}
nav {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 0 40px;
  position: relative;
  transition: 0.3s;
}
nav a:hover {
  color: #f9004d;
}
nav a::before {
  position: absolute;
  content: "";
  background-color: #f9004d;
  width: 0%;
  height: 3px;
  bottom: -3px;
  transition: 0.3s;
  border-radius: 20px;
}
nav a:hover:before {
  width: 100%;
}
